header, footer {

    text-align: center;
    background-color: #0e2330;
    color: whitesmoke;
    padding-top: 2px;
    padding-bottom: 2px;
    max-width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    
}


h3{
    background-color: #34444e;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-radius: 8px 8px 0px 0px;
    margin-top: auto;
}
section {
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(197, 197, 197);
    border-style: solid;
    border-width: 1px;
    border-color: #34444e;
    margin-bottom: 20px;

    
    
    
    
}

section p {
    padding-left: 8px; 
    padding-right: 8px; 
}

section a {
    padding-left: 8px;  
    color: #34444e


}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
}