@media only screen and (min-width: 67em) {
    footer {
        max-width: 985px;
        margin-left: auto;
        margin-right: auto;
                
    }

    main {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .stats {
        position: absolute;
        top: 10px;
		right: 40px;
        background: radial-gradient(#eee, #8998b6);
        border: 1px solid #000;
        box-shadow: 0 0 30px #111;
        opacity: .8;
    }

    .forest{
        max-width: 250px;
        float: right;
        display:inline-flex;
        padding: 10px;
      }
      .contact {
        height: 300px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        margin-top: 20px;
        margin-bottom: 0px;
      }
      
      .contact p, .contact h3 {
        position: relative;
        left: 30px;
      }
      
      .social {
        padding-top: 20px;
        max-height: 40px;
        position: relative;
        left: 30px;
      }
}