@media only screen and (min-width:0) and (max-width: 32.5em) {
  #hide { 
    display: none;
   }
  }
  
header {
    background-color: #485665;
    text-align: center;
    color: white;
}

body {
	background-color: rgb(255, 255, 255);
	padding: 0;
	margin: 0;
}

.header {
	padding: 5px 0;
	display: flex;
	align-items:center;
  justify-content:center;
  border-bottom: 3px solid white;
  
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: rgb(221, 221, 221);
	margin-left: 20px;
	font-size: .9rem;
}


main h1 {
  text-align: center;
}

main section {
  background-color: rgb(213, 219, 230);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid rgb(107, 107, 107);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    padding: 5px;
}

p {
  font-family: 'Roboto', sans-serif;
  padding:10px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
 
  }

  li a {
    display: block;
    background-color: #485665;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    
  }


  .active {
    background-color:  #323c46;
    color: rgb(255, 255, 255);
  }

  footer {
    margin-top: 0px;
    font-size: 0.7em;
    line-height: 1.5em;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #485665;

}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #485665;
}

nav li {
display: block;
white-space:nowrap;
}

.navigation {
	list-style-type: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
  display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: #485665;
	background-color: #fff;
	font-weight: 500;
}

.responsive li {
  display: block;
  white-space: nowrap
}

.announcment {
  background-color: #fff;
  color: black;
  font-size: .9em;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: 0 0 30px #111;
}

main {
  margin:0 auto;
}

h1 {
  text-align: center;
  font-size:2.5rem;
  text-shadow:3px 3px 5px #777;}

.herodiv {
  margin: 10px auto;
  position: relative;
  display: flex;
}
.herodiv img {
width: 100%;
display: flex;
}

h1, h2, p {
  margin: 0;
}

.stats {
	position: absolute;
	top: -5px;
	right: 15px;
	background: radial-gradient(#eee, #8998b6);
	border: 1px solid #000;
	padding: .5rem;
	box-shadow: 0 0 30px #111;
	opacity: .8;
}

.stats p {
  line-height: 10%;
}

.forest{
  max-width: 250px;
  display: flex;
  margin-left:auto;
  margin-right: auto;
  padding: 10px;
}

.map {
  max-width: 307px;
 float: left;
 display: flex;
}

.contact {
  background-color: rgb(177, 188, 207);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}


.fab {
  padding-top: 20px;
  padding-left: 30px;
  max-height: 40px;
}

table{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

th, td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top:5px;
  padding-bottom: 5px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(177, 188, 207)

}
.sun {
  max-width: 30px;
}